* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

div {
	width: 100%;
	margin: 20px;
}

div ul {
	display: flex;
	flex-direction: column;
}

div ul li:not(:last-of-type) {
	margin-bottom: 15px;
}

div ul+div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

button {
	background: #7159c1;
	color: #fff;
	border: 0;
	padding: 10px 15px;
	cursor: pointer;
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}

div li button {
	background: #ca4949;
	margin-left: 1.5rem;
}